$font-family: "Open Sans", sans-serif;
$font-size: 60px;

$max-width: 1680px;
$min-width: 768px;

$color-background: #2d3e4e;
$color-white: #ffffff;
$color-green: #07c06a;
$color-blue: #2d3e4e;
$color-gray: #aaaaaa;